header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: black;
    padding: 7px;
}
.intro{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 10px;
    margin-top: 5px;
}
.stats{
    margin-top: 5px;
    background-color: #2C3039;
    border-radius: 8px;   
    padding: 2px 5px;
    font-size: 13px;
}
.CodeBtn{
    display: flex;
    gap: 5px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #2C3039;
    padding: 10px 5px;
    height: 30px;
    margin-left: 1150px;
    transition: transform 0.3s ease;
    transform: translateY(0);
}
.CodeBtn h1{
    color: #929395;
}
.CodeBtn h2{
    color: #4CD7F6;
}
.CodeBtn:hover{
    background-color: #606062;
}
.CodeBtn.clicked {
    transform: translateY(4px);
}
.main{
    display: grid;
    grid-template-columns: 30% 50% 20%;
}
.member-bar, .coding-bar, .problem-bar{
    background-color: #2C3039;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: stretch;
}

.member-bar {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 50px;
}

.problem-bar{
    gap: 5px;
}


.language-select {
    background-color: #2C3039;
    color: #929395;
    border: 1px solid #444;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 13px;
    height: 35px;
    margin-top: 10px;
}

.DesBtn, .ListBtn{
    cursor: pointer;
}

.DesBtn.active, .ListBtn.active{
    background-color: #0b0f17;
    color: #8083FF;
    height: 50px;
    width: 100px;
}

.ChatBtn, .MemberBtn {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    border-radius: 2px;
    padding: 0;
    background-color: transparent;
    color: white;
}

.ChatBtn.active, .MemberBtn.active{
    background-color: #C3C6D2;
}


