header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: black;
    padding: 7px;
}
.intro{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 10px;
    margin-top: 5px;
}
.stats{
    margin-top: 5px;
    background-color: #2C3039;
    border-radius: 8px;   
    padding: 2px 5px;
    font-size: 13px;
}
.CodeBtn{
    display: flex;
    gap: 5px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #2C3039;
    padding: 10px 5px;
    height: 30px;
    margin-left: 1150px;
    transition: transform 0.3s ease;
    transform: translateY(0);
}
.CodeBtn h1{
    color: #929395;
}
.CodeBtn h2{
    color: #4CD7F6;
}
.CodeBtn:hover{
    background-color: #606062;
}
.CodeBtn.clicked {
    transform: translateY(4px);
}
.main{
    display: grid;
    grid-template-columns: 30% 50% 20%;
}
.problem-panel, .coding-panel{
    border-right: 1px solid #252B36;
    min-height: calc(100vh - 50px);
}
.member-bar, .coding-bar, .problem-bar{
    background-color: #2C3039;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: stretch;
}

.member-bar {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 50px;
}

.problem-bar{
    gap: 5px;
}


.language-select {
    background-color: #2C3039;
    color: #929395;
    border: 1px solid #444;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 13px;
    height: 35px;
    margin-top: 10px;
}

.DesBtn, .ListBtn{
    cursor: pointer;
}

.DesBtn.active, .ListBtn.active{
    background-color: #0b0f17;
    color: #8083FF;
    height: 50px;
    width: 100px;
}

.ChatBtn, .MemberBtn {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    border-radius: 2px;
    padding: 0;
    background-color: transparent;
    color: white;
}

.ChatBtn.active, .MemberBtn.active{
    background-color: #C3C6D2;
}

.problem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
}
.problem-info{
    display: flex;
    flex-direction: column;
}
.problem-header{
    display: flex;
    flex-direction: row;
}
.easy {
    color: #16a34a;
    background-color: #dcfce7;
}

.medium {
    color: #ca8a04;
    background-color: #fef9c3;
}

.hard {
    color: #dc2626;
    background-color: #fee2e2;
}

.hard, .medium, .easy{
    border-radius: 8px;
    margin-left: 150px;
    width: 80px;
    height: 30px;
    padding: 3px 10px;
}

.problem-header h1{
    font-size: 20px;
}

.problem-category{
    background-color: #444;
    width: 70px;
    padding: 0px 10px;
    border-radius: 2px;
    font-style: italic;
}

.examples{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.example{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.example h3{
    font-size: 20px;
}
.example-content{
    background-color: #444;
    border-radius: 2px;
}
.example-content strong{
    color: #7a7f8b;
    padding: 10px 5px;
}
.constraints{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.constraints h1{
    font-size: 20px;    
}
.constraints h4{
    font-size: 16px;
    width: 200px;
}

.coding-space{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.code-editor {
    width: 100%;
    height: 200px;
    resize: none;
    color: white;
    font-family: monospace;
    font-size: 15px;
    padding: 15px;
    border: none;
    outline: none;
}
.test{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 7px;
}
.test-bar{
    background-color: #444;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    gap: 300px;
    padding: 10px 5px;
    font-size: 15px;
}
.test-title{
    display: flex;
    flex-direction: row;
    gap: 4px;
    background-color: #555a64;
    border-radius: 2px;
    align-items: center;
    padding: 0px 5px;
}
.run-btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}
.RunBtn, .SubmitBtn{
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    height: 30px;
    padding: 5px 25px;
    gap: 5px;
    transition: all 0.5s ease;
}
.RunBtn{
    background-color: #35383e;
    color: #4CD7F6;
}

.SubmitBtn{
    background-color: #006C49;
    color: black;
}
.RunBtn:hover{
    background-color: #555a64;
}
.SubmitBtn:hover{
    background-color: #16a34a;
}
.RunBtn:active, .SubmitBtn:active{
    transform: translateY(4px);
}

.test-result{
    display: flex;
    flex-direction: row;
    background-color: #444; 
    border-radius: 2px;  
    padding: 10px 5px;
}
.run-message-failed{
    color: rgb(237, 65, 65);
}
.run-message-success{
    color: #006C49;
}
.test-stats{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    gap: 15px;
}

.test-result-case{
    display: flex;
    flex-direction: row;
    background-color: #444; 
    border-radius: 2px;  
    padding: 10px 5px;
    gap: 10px;
}
.user_result.success {
    color: #4ade80;
}

.user_result.failed {
    color: #f87171;
}
.problem-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.problem-item{
    display: flex;
    flex-direction: row;
    background-color: #444;
}
.problem-difficulty-easy {
    color: #16a34a;
    background-color: #dcfce7;
    padding: 3px 20px;   
    margin-left: 150px;
}

.problem-difficulty-medium {
    color: #ca8a04;
    background-color: #fef9c3;
    padding: 3px 10px;  
    margin-left: 165px; 
}

.problem-dfficulty-hard {
    color: #dc2626;
    background-color: #fee2e2;
    padding: 3px 20px;   
    margin-left: 150px;

}
.problem-dfficulty-hard, .problem-difficulty-easy, .problem-difficulty-medium{
    border-radius: 8px;
    width: 80px;
    height: 30px;
}